.container {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
        "header header header"
        "sidbare content content"
        "footer footer footer"
}

.item1 {
    grid-area: header;
    background: #86b6E9;
}

